<section class="main" [ngClass]="{ hidden: noTodosClass() }">
  <input
    id="toggle-all"
    class="toggle-all"
    type="checkbox"
    [checked]="isAllTodosSelected()"
    (change)="toggleAllTodos($event)"
  />
  <label for="toggle-all">Mark all as completed</label>
      <ul class="todo-list">
              <!-- @for (todo of todosService.todoSig(); track $index) { بدل مانستخدم كل العناصر اللي بتتحط نحط العناصر بعد الفلتر-->
        @for (todo of visibleTodos(); track $index) {
          <app-todo-item [todo]="todo"
            [isEditing]="editingId === todo.id"
            (setEditingId)="setEditingId($event)">
          </app-todo-item>
        }
      </ul>
  </section>
